.challenge-section {
  display: flex;
  align-items: center;
  padding: 30px;
}
.challenge-image {
  width: 60%; /* Ensure image takes up more space */
  height: auto;
  max-height: 400px; /* Set a maximum height for consistency */
}
.challenge-card {
  width: 40%; /* Adjusted width */
  background: #e9ecef; /* Semi-transparent background */
  padding: 25px;
  margin-left: 5px;
  height: 400px; /* Set a fixed height to match the image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(42, 38, 38, 0.1);
  font-size: 1rem;
  line-height: 2.3;
}
.challenge-card h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem; /* Increased font size */
  
  color: rgb(69, 67, 67); /* Make the font bold */
}
.challenge-card p {
  margin: 0;
}
